{% extends "admin/layouts/app.html" %}

{% block content %}

{% include "admin/aside.html" %}
<div class="subheader py-2 py-lg-4  subheader-solid " id="kt_subheader">
    <div class=" container-fluid  d-flex align-items-center justify-content-between flex-wrap flex-sm-nowrap">
        <!--begin::Info-->
        <div class="d-flex align-items-center flex-wrap mr-2">
            <!--begin::Page Title-->
            <h5 class="text-dark font-weight-bold mt-2 mb-2 mr-5">
                Change Password</h5>
            <!--end::Page Title-->
            <!--begin::Actions-->
        </div>
        <!--end::Info-->
    </div>
</div>
<!--end::Subheader-->

<div class="d-flex flex-column-fluid">
    <!--begin::Container-->
    <div class=" container card-fixed-align">
        <!--begin::Card-->
        <div>
            <!--begin::Card-->

            <div class="card card-custom">
                <!--begin::Form-->
                {% include "admin/alert.html" %}
                <div class="card-body">
                    {% include "admin/setting/nab.html" %}
                    <div class="tab-content mt-5" id="myTabContent">
                        <div class="tab-pane fade active show" id="home" role="tabpanel" aria-labelledby="home-tab">
                            <form method="POST" action="{% url 'update_password' %}">
                                {% csrf_token %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <div class="form-group ">
                                            <label for="password" class="col-form-label text-md-right">Current Password</label>
                                            <input id="password" type="password" value="{{ form.current_password.value|default_if_none:'' }}" class="form-control" name="current_password" autocomplete="current-password" placeholder="Current Password">
                                            {% if form.current_password.errors %}
                                                <div class="invalid-feedback">{{ form.current_password.errors.0 }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="password" class="col-form-label text-md-right">New Password</label>
                                            <input id="new_password" type="password" value="{{ form.new_password.value|default_if_none:'' }}" class="form-control" name="new_password" autocomplete="current-password" placeholder="New Password">
                                            {% if form.new_password.errors %}
                                            <div class="invalid-feedback">{{ form.new_password.errors.0 }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="form-group">
                                            <label for="password" class="col-form-label text-md-right">Confirm Password</label>
                                            <input id="new_confirm_password" type="password" class="form-control" value="{{ form.new_confirm_password.value|default_if_none:'' }}" name="new_confirm_password" autocomplete="current-password" placeholder="New Confirm">
                                            {% if form.new_confirm_password.errors %}
                                            <div class="invalid-feedback">{{ form.new_confirm_password.errors.0 }}</div>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                                <div class="form-group row mb-0">
                                    <div class="col-md-12 text-right ">
                                        <button type="submit" class="btn btn-primary">
                                            Update Password
                                        </button>
                                    </div>
                                </div>
                            </form>

                        </div>
                        <div class="tab-pane fade" id="profile" role="tabpanel" aria-labelledby="profile-tab">Tab content 2</div>
                        <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">Tab content 3</div>
                    </div>
                </div>
            </div>
            <!--end::Card-->
        </div>
        <!--end::Card-->
    </div>
    <!--end::Container-->
</div>
<!--end::Entry-->
</div>
<!--end::Content-->
{% endblock %}
