{% if messages %}
  {% for message in messages %}
    <div class="alert alert-custom alert-{{ message.tags }} fade show" role="alert">
        <div class="alert-icon">
            {% if message.tags == "success" %}
                <em class="flaticon2-check-mark"></em>
            {% elif message.tags == "danger" %}
                <em class="flaticon-warning"></em>
            {% endif %}
        </div>
        <div class="alert-text">{{ message }}</div>
        <div class="alert-close">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true"><em class="ki ki-close"></em></span>
            </button>
        </div>
    </div>
  {% endfor %}
{% endif %}
